*~
build
gen
bin
#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes
out

#Maven
target
release.properties
pom.xml.*

local.properties
.gradle
*.apk
.*.swp
/.classpath
/.project
.idea/
.settings/
gen-external-apklibs/
target
classes/
project.properties
signing.properties
*.iml
.DS_Store
out/
